html{
  padding: 0;
}
body {
padding: 0;
margin: 0;
}

text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.area {
  fill: url(#temperature-gradient);
  stroke-width: 05px;
}
