<html>  
  <head>
    <title>Express handlebars</title>
<script src="https://d3js.org/d3.v3.min.js"></script>  
<script src="/js/charts.js"></script>
<link href="/css/styles.css" rel="stylesheet" type="text/css">
</head>
  <body>
    {{{body}}}
  </body>
</html>  

